*{ 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color:#e6e6e6;
}

#header{
	background-color:#004AAD;
	padding: 35px;
	text-align:center; 
}

.menu a, 
.menu a:visited{
	color:white;
	text-decoration: none;
	padding:8px 12px;
}
 

a:hover{
	background-color:white;
	color:#004AAD;
} 


.container{ 
    width: 920px;
    margin:auto;
    padding:40px;
}
 

.postss{
	width: 450px;
	background-color: rgb(255, 255, 255);
	float:left;
	margin-bottom:40px;
	margin-left: 40px;
	padding-left: 10px;
}
	
.post{
	padding:20px; 
}

h2{
	font-size:20px;
	color:black; 
}

h3{
	color:black; 
}
 
.published{
	font-size:0.9em;
	margin-bottom: 5px;
	display:block;
}

.description{
	padding-bottom:20px;
	width:80%;
}

.sidebar{ 
    width:280px;
    background-color: rgb(255, 255, 255);
    float: right; 
	padding:20px; 
}
 

.sidebar-heading h2{
	background-color: #004AAD;
	color:white;
	padding:5px;  
	
}

.item-categories{
	padding-bottom:10px;  
}
.content{  
	padding:10px;
	border-bottom: 1px solid lightgray;
	padding-bottom: 20px;
}


.footer{ 
	clear:both; 
	padding: 15px; 
}

.footer p{
	color:rgb(0, 0, 0);
}