*{ 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color:#e6e6e6;
}

#header{
	background-color:#292a2b;
	padding: 5px;
	text-align:left; 
}

.links ul li{ 
	display:inline-block;
	list-style:none; 
	outline:none; 
	padding-top: 25px;
}

.links a{
	color:white;
	padding:15px;
}

.links a:hover { 
	color:#ffaa00;
} 
 

a:hover h1{
	color:#ffaa00;
}

a:hover h2{
	color:#ffaa00;
}

a:hover h3{
	color:#ffaa00;
}
 
a:hover{
	color:orange;
}

a{
	text-decoration: none; 
}

.container{ 
    width: 920px;
    margin:auto;
    padding:60px;
	padding-bottom: 60px;
}
 

.postss{
	width: 450px;
	background-color: rgb(255, 255, 255);
	float:left;
	margin-bottom:40px;
	margin-left: 40px;
	padding-left: 10px;
}
	
.post{
	padding:20px; 
}

h2{ 
	color:black; 
	padding-bottom: 10px;
	font-size: 20px;
}

h3{ 
	color:black; 
	font-size: 18px;
}
 
.published{
	font-size:0.9em;
	margin-bottom: 5px;
	display:block;
}

.description{
	padding-bottom:20px;
	width:80%;
}

.sidebar{ 
    width:280px;
    background-color: rgb(255, 255, 255);
    float: right; 
	padding:20px; 
}

.button{
	padding:10px 30px;
	color:white;
	background-color:green;
	border: 1px solid #555; 
	text-align: center;
	user-select: none;
	cursor: pointer;
}

.button:hover{
	background: #11ca00;
}

.sidebar-heading h3{
	background-color: #292a2b;
	color:white;
	padding:10px;  
	font-size: 20px;
	
}


.item-categories{
	padding-bottom:10px;  
}
.content{  
	padding:10px;
	border-bottom: 1px solid lightgray;
	padding-bottom: 20px;
}


.footer{ 
	clear:both; 
	padding: 15px; 
}

.footer p{
	color:rgb(0, 0, 0);
}