<div class="sidebar">   
  <a href="{% url 'post-create' %}">  
  <div class="button">criar post</div></a></h1></a><br><br>
  <div class="sidebar-recent-posts">
    <div class="sidebar-heading">
      <h3>Posts Recentes </h3>
    </div>
    {%for post in posts %}
    <div class="content"> 
      <h3><a href="{{post.title}}"> {{post.title}}</a></h3><br>
      <span>{{post.description}}</span> 
    </div>
    {%endfor%}
  </div>  
  <div class="item-categories">
    <div class="sidebar-heading">
      <h3>Categories </h3>
    </div>
    <div class="content">
      <ul>
        <li><a href="#">- Nature Lifestyle</a></li>
        <li><a href="#">- Awesome Layouts</a></li>
        <li><a href="#">- Creative Ideas</a></li>
        <li><a href="#">- Responsive Templates</a></li>
        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
        <li><a href="#">- Creative &amp; Unique</a></li>
      </ul>
    </div>
  </div> 
</div>   