<div class="sidebar">    
  <div class="sidebar-recent-posts">
    <div class="sidebar-heading">
      <h2>Posts Recentes </h2>
    </div>
    {%for post in posts %}
    <div class="content"> 
      <a href=""> 
      <h3>{{post.title}}</h3>
      <span>{{post.description}}</span> 
    </div>
    {%endfor%}
  </div>  
  <div class="item-categories">
    <div class="sidebar-heading">
      <h2>Categories</h2>
    </div>
    <div class="content">
      <ul>
        <li><a href="#">- Nature Lifestyle</a></li>
        <li><a href="#">- Awesome Layouts</a></li>
        <li><a href="#">- Creative Ideas</a></li>
        <li><a href="#">- Responsive Templates</a></li>
        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
        <li><a href="#">- Creative &amp; Unique</a></li>
      </ul>
    </div>
  </div> 
</div>   